body
{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color:  #ee1515;;
    direction: rtl;
}
#menu-list {
    display: block;
  }
  
#menu-list li {
    display: block;
  }
  
#menu-list li a {
    display: block;
    padding: 10px;
  }
  
#menu-btn {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
#menu-btn:hover {
    background-color: #666;
  }

.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul
{
    margin: 0;
    padding: 0;
}
header
{
    background-color: #353637;
    color: aliceblue;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #32a0c2 5px solid;
}
header a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
}
header li{
    float: right;
    display: inline;
    padding: 0 20px;
}
header #brand{
    float: right;
}
header #brand h1
{
    margin: 0;
    color: #32a0c2;
}
header nav
{

    display: block;
    float: left;
    margin-top: 10px;
}
header .current a
{
    color: #32a0c2;
    font-weight: bold;
}
header a:hover
{
    color: blue;
    font-weight: bold;
}
#showcase
{
    min-height: 400px;
    background: url("../image/photo_2023-04-03_22-18-55.jpg") no-repeat center;
    background-size: cover;
}
#newsletter
{
    padding: 50px;
    color: #ffffff;
    background: #353637;
}
#newsletter h1
{
    float: right;
}
#newsletter form
{
    float: left;
    margin-top: 15px;
}
#newsletter input[type="email"]
{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button
{
    height: 38px;
    background: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
}
#boxes
{
    width: auto;
    margin-top: 0;
    background-color: #158a06;
    
    
}
 .seyid
{
    text-align: center;
    float: right;
    padding: 100px 0 30px 0;

}
img {
    float: right;
    text-align: center;
    margin: 10px 100px 100px 10px;
    width: 180px;
    border-radius: 30px 0 30px 0;
    border: solid 10px rgb(159, 25, 172);
    /* transform: rotate(10deg); */
    height: 180px;
}

.sid 
{
    float: right;
    text-align: center;
    width: 80%;
    padding: 10px;
    
} 
.syd
{
    width: 80%;
    height: 48px;
    color: blue;
    font-weight: bold;
    background: yellow;
    padding-left: 40px;
    padding-right: 40px;
    
}

footer
{
    padding: 20px;
    margin-top: 80px;
    color: #f4f4f4;
    background-color: #32a0c2;
    text-align: center;
    font-weight: bol;
    font-size: 20px;
}
@media(max-width:768px)
{
    header #brand,
    header nav,
    header li,
    #newsletter form,
    #boxes .seyid
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    header
    {
        padding-bottom: 20px;
    }
    #newsletter .button
    {
        display:block;
        width:100%;
    }
    #newsletter form input[type="email"]
    {
        width: 100%;
        margin-bottom: 5px;
    }
}
